*{
  margin-color: grey;
  color: white;
  margin: auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.heading{
  background-color: #333333;
  width: 80%; 
  border-right: 5px red solid;
  padding: 15px;
  line-height: 1.6em;
  border-bottom: 3px white solid;
}

.box-1{
  background-color: #333;
  width: 80%;
  border-right: 5px red solid;
  padding: 15px
}

.box-1 li{
  list-style: square; 
}

.box-1 h2{
  text-decoration: underline;
}
